<a href="https://colab.research.google.com/github/gayaninan/Cordova-Geofence-Plugin/blob/master/comparision_combine_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
test_data =  '/content/drive/MyDrive/updated-ec/test/before_class.txt'
w_data =  '/content/drive/MyDrive/updated-ec/test/wer_class.txt'
r1_data =  '/content/drive/MyDrive/updated-ec/test/rouge1_class.txt'
r2_data =  '/content/drive/MyDrive/updated-ec/test/rouge2_class.txt'

In [ ]:
df_refs = pd.read_csv(test_data, sep='\t')
w_refs = pd.read_csv(w_data, sep='\t')
r1_refs = pd.read_csv(r1_data, sep='\t')
r2_refs = pd.read_csv(r2_data, sep='\t')

In [ ]:
df_refs

,refs,aws,ms,ibm,google,ref_index
0,Hello My names Amy Kousha Im one of the gastro...,Hello My names Amy Kosher Im one of the gastro...,Hello my name is Amy Kosha Im one of the gastr...,Hello my names Amy kosha Im one of the Gastroe...,hello my name is Amy kosher Im one of the gast...,0
1,My name is Bide And my date of birth is first ...,My name is abide And my date of birth is first...,My name is and my date of birth is 1st of Janu...,my name is about My date of birth is first of ...,my name is Evie and my date of birth is 1st of...,1
2,So Bide I understand that you went to see your...,So whyd I understand that You went to see your...,So about I understand that you went to see you...,So a bad I understand that you went to see you...,so abide I understand that you went to see you...,2
3,Ive been having loose stools diarrhoea for the...,Ive been having loose twos dia beerfor the pas...,Ive been having a loose stools and diarrhoea f...,I Ive been having a loose stools and diarrhoea...,Ive been having loose stools diarrhea or the p...,3
4,Okay so um prior to three months would you say...,Okay so Im prior to city months Would you say ...,Okay so Im prior to three months Would you say...,Okay so Im prior to three months would you say...,prior to sleep months with you say that your b...,4
...,...,...,...,...,...,...
216,And thats just a stool test to check the infla...,on DH Thats just a stool test to cheque for in...,Thats just a stool test to cheque for inflamma...,and and thats just the stupidest check for inf...,and thats just a stool test to check for infla...,294
217,Must be a bit disappointing when its been work...,Must be a bit disappointing when its been work...,Must be a bit disappointing when its been work...,must be a bit disappointing when its been work...,must be a bit disappointing when its been work...,297
218,Okay I think well first of all get these basic...,Okay I think Well first of all get these basic...,Okay I think first of all get these basic inve...,okay I think well first of all get these basic...,and I think first of all get these basic inves...,298
219,Okay What what makes you worried about needing...,Okay What What makes you what A divine needing...,Okay what makes you worried about needing surg...,okay what what makes you worried about needing...,surgery in particular,300
220,Well it usually is a last resort for the peopl...,Well it usually is Last years work for people ...,Well it usually is a last resort for people wi...,well it usually is a last resort for for peopl...,for people with inflammatory bowel disease so ...,303

In [ ]:
r2_refs

,aa,am,ai,ag,ma,mm,mi,mg,ia,im,ii,ig,ga,gm,gi,gg,ref_index,label
0,1.0,0.823529,0.666667,0.760000,0.823529,1.0,0.654545,0.784314,0.666667,0.654545,1.0,0.555556,0.760000,0.784314,0.555556,1.0,0,0
1,1.0,0.592593,0.642857,0.571429,0.592593,1.0,0.592593,0.888889,0.642857,0.592593,1.0,0.571429,0.571429,0.888889,0.571429,1.0,1,1
2,1.0,0.703704,0.690909,0.641509,0.703704,1.0,0.905660,0.784314,0.690909,0.905660,1.0,0.769231,0.641509,0.784314,0.769231,1.0,2,1
3,1.0,0.647059,0.628571,0.533333,0.647059,1.0,0.972973,0.500000,0.628571,0.972973,1.0,0.484848,0.533333,0.500000,0.484848,1.0,3,1
4,1.0,0.645161,0.750000,0.357143,0.645161,1.0,0.774194,0.592593,0.750000,0.774194,1.0,0.357143,0.357143,0.592593,0.357143,1.0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,1.0,0.692308,0.535714,0.618182,0.692308,1.0,0.576923,0.647059,0.535714,0.576923,1.0,0.581818,0.618182,0.647059,0.581818,1.0,216,3
217,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,217,0
218,1.0,0.835616,0.885906,0.760563,0.835616,1.0,0.884354,0.814286,0.885906,0.884354,1.0,0.811189,0.760563,0.814286,0.811189,1.0,218,2
219,1.0,0.600000,0.666667,0.307692,0.600000,1.0,0.947368,0.363636,0.666667,0.947368,1.0,0.333333,0.307692,0.363636,0.333333,1.0,219,2
220,1.0,0.821429,0.814159,0.653061,0.821429,1.0,0.920354,0.714286,0.814159,0.920354,1.0,0.686869,0.653061,0.714286,0.686869,1.0,220,1

In [ ]:
r1_refs

,aa,am,ai,ag,ma,mm,mi,mg,ia,im,ii,ig,ga,gm,gi,gg,ref_index,label
0,1.0,0.905660,0.821429,0.884615,0.905660,1.0,0.807018,0.905660,0.821429,0.807018,1.0,0.750000,0.884615,0.905660,0.750000,1.0,0,0
1,1.0,0.827586,0.733333,0.800000,0.827586,1.0,0.758621,0.965517,0.733333,0.758621,1.0,0.733333,0.800000,0.965517,0.733333,1.0,1,1
2,1.0,0.821429,0.807018,0.800000,0.821429,1.0,0.945455,0.905660,0.807018,0.945455,1.0,0.888889,0.800000,0.905660,0.888889,1.0,2,1
3,1.0,0.777778,0.756757,0.750000,0.777778,1.0,0.974359,0.764706,0.756757,0.974359,1.0,0.742857,0.750000,0.764706,0.742857,1.0,3,1
4,1.0,0.787879,0.882353,0.600000,0.787879,1.0,0.848485,0.758621,0.882353,0.848485,1.0,0.600000,0.600000,0.758621,0.600000,1.0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,1.0,0.811321,0.666667,0.767857,0.811321,1.0,0.679245,0.788462,0.666667,0.679245,1.0,0.732143,0.767857,0.788462,0.732143,1.0,216,3
217,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.0,217,0
218,1.0,0.918919,0.940397,0.875000,0.918919,1.0,0.953020,0.901408,0.940397,0.953020,1.0,0.924138,0.875000,0.901408,0.924138,1.0,218,2
219,1.0,0.727273,0.782609,0.400000,0.727273,1.0,0.952381,0.461538,0.782609,0.952381,1.0,0.428571,0.400000,0.461538,0.428571,1.0,219,2
220,1.0,0.912281,0.886957,0.760000,0.912281,1.0,0.939130,0.800000,0.886957,0.939130,1.0,0.772277,0.760000,0.800000,0.772277,1.0,220,1

In [ ]:
w_refs

,aa,am,ai,ag,ma,mm,mi,mg,ia,im,ii,ig,ga,gm,gi,gg,ref_index,label
0,0.0,0.153846,0.307692,0.346154,0.148148,0.0,0.333333,0.222222,0.266667,0.300000,0.0,0.366667,0.346154,0.230769,0.423077,0.0,0,0
1,0.0,0.266667,0.466667,0.333333,0.285714,0.0,0.428571,0.142857,0.466667,0.400000,0.0,0.400000,0.333333,0.133333,0.400000,0.0,1,0
2,0.0,0.241379,0.310345,0.344828,0.259259,0.0,0.111111,0.185185,0.321429,0.107143,0.0,0.178571,0.384615,0.192308,0.192308,0.0,2,1
3,0.0,0.294118,0.352941,0.411765,0.263158,0.0,0.052632,0.421053,0.300000,0.050000,0.0,0.450000,0.466667,0.533333,0.600000,0.0,3,1
4,0.0,0.235294,0.235294,0.470588,0.250000,0.0,0.250000,0.312500,0.235294,0.235294,0.0,0.470588,0.615385,0.384615,0.615385,0.0,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,0.0,0.298246,0.456140,0.315789,0.346939,0.0,0.489796,0.346939,0.456140,0.421053,0.0,0.368421,0.327273,0.309091,0.381818,0.0,216,3
217,0.0,0.000000,0.090909,0.090909,0.000000,0.0,0.090909,0.090909,0.090909,0.090909,0.0,0.000000,0.090909,0.090909,0.000000,0.0,217,0
218,0.0,0.146667,0.133333,0.213333,0.150685,0.0,0.136986,0.205479,0.131579,0.131579,0.0,0.144737,0.231884,0.217391,0.159420,0.0,218,2
219,0.0,0.416667,0.500000,0.750000,0.500000,0.0,0.200000,0.700000,0.545455,0.181818,0.0,0.727273,3.000000,2.333333,2.666667,0.0,219,1
220,0.0,0.175439,0.280702,0.385965,0.175439,0.0,0.157895,0.315789,0.275862,0.155172,0.0,0.327586,0.511628,0.418605,0.441860,0.0,220,1

In [ ]:
w_refs['label'].value_counts()

#0 aws
#1 ms
#2 ibm
#3 googel

1    118
0     75
2     15
3     13
Name: label, dtype: int64

In [ ]:
df_refs = df_refs.rename(columns = {'ref_index':'corpus_index'})

w_refs = w_refs.rename({'ref_index': 'ref_index',
                'aa': 'aa_wer', 'am':'am_wer', 'ai' : 'ai_wer', 'ag' : 'ag_wer', 
                'ma' : 'ma_wer', 'mm': 'mm_wer','mi':'mi_wer', 'mg':'mg_wer',
                'ia':'ia_wer','im':'im_wer', 'ii':'ii_wer', 'ig':'ig_wer',
                'ga':'ga_wer', 'gm':'gm_wer', 'gi':'gi_wer', 'gg':'gg_wer', 
                'label':'label_wer'}, axis=1)

r1_refs = r1_refs.rename({'ref_index': 'ref_index',
                'aa': 'aa_rouge1', 'am':'am_rouge1', 'ai' : 'ai_rouge1', 'ag' : 'ag_rouge1', 
                'ma' : 'ma_rouge1', 'mm': 'mm_rouge1','mi':'mi_rouge1', 'mg':'mg_rouge1', 
                'ia':'ia_rouge1','im':'im_rouge1', 'ii':'ii_rouge1', 'ig':'ig_rouge1',
                'ga':'ga_rouge1', 'gm':'gm_rouge1', 'gi':'gi_rouge1', 'gg':'gg_rouge1', 
                'label':'label_rouge1'}, axis=1)

r2_refs = r2_refs.rename({'ref_index': 'ref_index',
                'aa': 'aa_rouge2', 'am':'am_rouge2', 'ai' : 'ai_rouge2', 'ag' : 'ag_rouge2', 
                'ma' : 'ma_rouge2', 'mm': 'mm_rouge2','mi':'mi_rouge2', 'mg':'mg_rouge2', 
                'ia':'ia_rouge2','im':'im_rouge2', 'ii':'ii_rouge2', 'ig':'ig_rouge2',
                'ga':'ga_rouge2', 'gm':'gm_rouge2', 'gi':'gi_rouge2', 'gg':'gg_rouge2', 
                'label':'label_rouge2'}, axis=1)

In [ ]:
# def most_common(lst):
#     return max(set(lst), key=lst.count)

In [ ]:
from collections import Counter

def get_oc(lst):
  print(lst)
  c = Counter(lst)

  d = c.most_common(1)
  print(d[0][0])
  return d[0][0]

def get_oc_stat(lst):
  print(lst)
  c = Counter(lst)

  # d = c.most_common(1)
  # print(d[0][0])


  if len(c) == 3:
    return 3
  elif len(c) == 2: 
    return 2
  elif len(c) == 1:
    return 1

In [ ]:
merged_evals = w_refs.merge(r1_refs).merge(r2_refs)
merged_evals

In [ ]:
final_merge = df_refs.join(merged_evals)
final_merge

In [ ]:
# final_merge.to_csv('/content/drive/MyDrive/updated-ec/test/merged_class_updated.txt', sep='\t', index=False )

In [ ]:
#test
final_merge['common_label'] = final_merge.apply(lambda row: get_oc([row.label_wer, row.label_rouge1, row.label_rouge2]), axis=1)
final_merge['no_of_labels'] = final_merge.apply(lambda row: get_oc_stat([row.label_wer, row.label_rouge1, row.label_rouge2]), axis=1)

In [ ]:
final_merge['no_of_labels'].value_counts()

1    161
2     60
Name: no_of_labels, dtype: int64

In [ ]:
final_merge['no_of_labels'].value_counts() 
for col in final_merge:
  print(col)

In [ ]:
final_merge.to_csv('/content/drive/MyDrive/updated-ec/test/merged_class_updated_all.txt', sep='\t', index=False)